@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(15 15 20 / var(--tw-bg-opacity));
  color: rgb(228 228 231 / var(--tw-bg-opacity));
}

[data-theme="light"] body {
  color: rgb(24 24 27 / var(--tw-text-opacity));
  background-color: rgb(256 230 191 / var(--tw-bg-opacity));
}
