@import "../../global.scss";

.intro{
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        overflow: hidden;

        .imgContainer{
            width: 700px;
            height: 700px;
            background-color: #afa;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            @include mobile{
                align-items: flex-start;
            }

            img{
                width: 100%;

                @include mobile{
                    height: 50%;
                }
            }
        }
    }

    .right{
        flex: 0.5;
        position: relative;

        .wrapper{
            width: 100%;
            height: 90%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding: 0;
                align-items: center;
            }

            h1{
                font-size: 60px;
                margin: 10px 0;

                @include mobile{
                    font-size: 35px;
                }
            }

            h2{
                font-size: 35px;

                @include mobile{
                    font-size: 20px;
                }
            }

            h3{
                font-size: 30px;

                @include mobile{
                    font-size: 20px;
                }

                span{
                    color: green;
                    border-bottom: 0;
                }
            }
        }

        a{
            position: absolute;
            border-top: 10px;
            left: 40%;

            img{
                width: 25px;
                animation: arrowBlink 0.5s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0.7;
                }
            }
        }
    }
}